<header class="border-b md:flex md:items-center md:justify-between p-4 pb-0 shadow-lg md:pb-4">
  
    <!-- Logo text or image -->
    <div class="flex items-center justify-between mb-4 md:mb-0">
      <h1 class="leading-none text-2xl text-grey-darkest">
        <a class="no-underline text-grey-darkest hover:text-black" href="#">
          Serech for a movie review
        </a>
      </h1>
    </div>
    <!-- Search field -->
    <form class="mb-4 w-full md:mb-0 md:w-1/4">
      <label class="hidden" for="search-form">Search</label>
      <input class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full" placeholder="Search" type="text">
      <button class="hidden">Submit</button>
    </form>
    <!-- END Search field -->
    
    <h1 class="leading-none text-base text-grey-darkest">
        <p class="no-underline text-grey-darkest hover:text-black">
            Sort resulr By :
        </p>
      </h1>
    <form class="mb-4 w-full md:mb-0 md:w-1/4">
        <select class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner" >
            <option class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner">
                option1
            </option>
            <option class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner">
                option1
            </option>
        </select>
        
    </form>
  
  </header>
  <div>
    <div *ngFor="let movie of movies" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" [src]="movie.imgSrc" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{movie.display_title}}</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
  </div>